@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.container_register{
    width: 50%;
    height: 90%;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 6px;
    background: #FFF;
    overflow: hidden;
}

.container_register h1{
    position: absolute;
    font-size: 40px;
    top: 40px;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.container_register .indicator{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50px;
    top: 160px;
}

.indicator .step{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px;
}

.step div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    font-weight: bold;
}

.step1 div{
    border-color: #A957CB;
    background: #A957CB;
    color: #FFF;
    transition: all 0.4s ease;
}

.step span{
    font-weight: 600;
    text-align: center;
    transition: all 0.4s ease;
}

.step1 span{
    color: #A957CB;
}

.indicator .line{
    width: 30px;
    height: 30px;
    border-top: 4px solid black;
    transition: all 0.4s ease;
}

.container_register .panel{
    width: 100vw;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.4s ease;
}

.page1,.page2,.page3,.page4{
    position: absolute;
    height: 100%;
    width: 50%;
}

.page1{
    left: 0;
}

.page2{
    left: 50%;
}

.page3{
    left: 100%;
}


.form{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 90px;
}

.form .form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 50px;
    margin: 15px 0;
}

.form-group input{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 500;
    outline: none;
    border: 1px solid black;
}

.form-group label{
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    background: #fff;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 500;
    padding: 3px;
    color: #999;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label{
    color: black;
    top: 0%;
    transform: translateY(-50%) scale(0.85);
}

.form .btn-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    height: 50px;
}

.btn-group .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #A957CB;
    color: #FFF;
    text-transform: capitalize;
    text-align: center;
    width: 48%;
    height: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    cursor: pointer;
}

.btn-group .btn-f{
    width: 100%;
}

.btn-group .btn:active{
    transform: scale(0.95);
}

.btn-group .btn:hover{
    opacity: 0.8;
}

#one:checked ~ .container_register .panel{
    left: -50vw;
}

#two:checked ~ .container_register .panel{
    left: -100vw;
}

/* #three:checked ~ .container_register .panel{
    left: -1290px;
} */

#one,#two,#three{
    display: none;
}

#one:checked ~ .container_register .indicator .line1,
#two:checked ~ .container_register .indicator .line2,
#three:checked ~ .container_register .indicator .line3{
    border-color: #A957CB;
}

#one:checked ~ .container_register .indicator .step2 div,
#two:checked ~ .container_register .indicator .step3 div,
#three:checked ~ .container_register .indicator .step4 div{
    border-color: #A957CB;
    background: #A957CB;
    color: #FFF;
}

#one:checked ~ .container_register .indicator .step2 span,
#two:checked ~ .container_register .indicator .step3 span,
#three:checked ~ .container_register .indicator .step4 span{
    color: #A957CB;
}

@media screen and (max-width: 1000px){
    .container_register{
        width: 100%;
    }
    .panel{
        width: 70%;
    }
    .page1{
        width: 100%;
    }
    .page2{
        width: 100%;
        left: 100%;
    }
    .page3{
        width: 100%;
        left: 200%;
    }
    #one:checked ~ .container_register .panel{
        left: -100%;
    }
    
    #two:checked ~ .container_register .panel{
        left: -200%;
    }
}








