.Dashboard{
	width: 80%;
	padding-right: 150px;
	position: absolute;
	justify-content: center;
	align-items: center;
	right: 0;
	top: 10vh;
}

.post {
	border: 2px solid #ccc; 
	padding: 20px; 
	margin-top: 20px;
	display: flex; 
	flex-direction: column; 
	align-items: center;
  }
  .post1 {
	border: 2px solid #ccc; 
	padding: 20px; 
	margin-top: 20px;
	display: flex; 
	flex-direction: column; 
  }
  
  .icons-post {
	display: flex; 
	/* justify-content: space-between;  */
	margin-top: 10px; 
  }
  
  .post1 h2 {
	margin: 0;
  }
  
  .VerifiedUser {
	align-self: flex-start; 
	margin-right: 10px; 
  }
  
  .icons-post > * {
	flex: 1; 
	margin-right: 5px; 
  }
  
  .icons-post > :last-child {
	margin-right: 0; 
  }
  
  .post1 h3 {
	margin: 10px 0 5px; 
  }
  
  .post1 button {
	margin-top: 10px;
  }

  .post img{
	width: 50%;
	height: 60%;
	
  }
  